
/*# p - Psychometrics #*/

.iconBox {border-left:5px solid #d2d3d4; padding-left:15px}
.iconBox img {height:100px; padding-right:20px; margin-right:20px}
.iconBox h2, .iconBox h3, .iconBox h4, .iconBox h5 {margin-top:0; margin-bottom:0}