.stats-number {font-size:300%; line-height:1.2; font-family:'prelo_slab_bold', serif;}
.stats-text {font-size:120%; line-height:1}
.stats-number2 {font-size:280%; line-height:1.2; font-family:'prelo_slab_semibold', serif;}