/* Uberflip - Some inline style included on page */
.hubs-embedded {margin-bottom:0!important; font-size:20px!important; font-family: 'StoneSansIIITCPro-Bk', Arial, sans-serif!important}
.hubs-embedded a:hover {color:#0083a9!important; text-decoration:none!important}
#collection-items ul.clearfix {margin-left:-10px!important; padding-left:0}
#collection-items .tile {border:1px solid #ddd; box-shadow:none}
li.tile.single {width:260px!important}
#collection-items .tile.single .description h3 {font-weight:normal!important}