body {
  -webkit-font-smoothing: antialiased;
}

.home .blue-bg .icon-03 {
    height: 90px;
    margin-bottom: 20px;
    margin-top: 68px !important;
}

.menu > ul > li > ul.normal-sub {
  width: auto;
  left: auto;
}

.menu > ul > li > ul.normal-sub > li.more-btn-box {
  width: 100%;
}

.menu > ul > li > ul.normal-sub > li.more-btn-box a {
  width: auto;
  display: inline-block;
}

.menu > ul > li a {
  font-size: 14px;
}

.menu > ul > li > ul.normal-sub,
.menu > ul > li.hcMenu > ul.normal-sub {
  width: auto;
  padding: 0 40px;
}

.flag {
  width: 20px;
  height: 20px;
  top: -5px;
}

@media (max-width: 1100px) {
  .left-menu-icons > ul > li {
    margin-left: 0 !important;
  }
  .logo {
    width: 70px;
  }
  .menu > ul {
    padding: 0 0 14px 0 !important;
  }
  .btn-menu {
    padding: 14px 31px !important;
  }
  .left-menu-icons {
    width: 25% !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 991px) {
  .location-icon {
    background: url(/aon.humancapital/media/images/ui/location_mobile.svg) no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    display: block;
    float: right;
    margin-right: 25px;
  }
}

@media (min-width: 1200px) {
  .silo .panel-body.bgDBlue {
    width: 280px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
  .menu > ul {
    padding: 0 !important;
  }
  .left-menu-icons > ul > li {
    margin-left: 0 !important;
  }
  .btn-menu {
    padding: 14px 28px !important;
  }
  .left-menu-icons {
    width: 25% !important;
    margin-left: 0 !important;
  }
  .hcMenu > ul {
    padding: 18px 1003.5em!important;
  }

  .hcMenu>ul.flags {
    padding: 18px 1005em !important;
  }

  .dropdown:hover .search-box:before {
      left: 51.44% !important;
  }
  .dropdown.flags-container:hover ul:before {
      left: 51.11% !important;
  }

  .six-col {
    -webkit-column-count: 7 !important;
            column-count: 7 !important;
  }
  .menu > ul > li a {
    font-size: 14px !important;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .menu > ul > li > ul.normal-sub {
    padding: 18px 1000em;
  }
  .menu > ul > li a {
    font-size: 16px;
  }
}

/* home */
.float-none {
  float:none;
}

.blue-bg {
  background: #003f72 !important;
  color: #fff;
}

.blue-bg .h3 {
  color: #fff;
}

.special-01.silo .panel {
  border-color: rgba(0, 63, 114,0.5);
}

.silo.special-01 .h4 {
    line-height: 1.45;
}

.silo .panel {
  margin-bottom: 0px;
}

.silo a, .tile-list .article a, .recent-article-more a {
  color: #5eb6e4;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'StoneSansIIITCPro-SmBd';
  font-weight: bold;
  letter-spacing: 0.58px;
}

.silo .stats-number {
  color: #003f72;
}

.silo .panel-body.bgDBlue {
  flex-direction: column;
}

.home .silo .panel-footer {
    margin-top: -25px;
}

.quote span.h4 {
    color: #003f72;
    font-family: 'StoneSansIIITCPro-Bk' !important;
    font-size: 26px;
}

.quote span.h6 {
    font-family: 'prelo_slab_bold' !important;
    font-size: 16px;
    color: #003f72;
}

hr.grey {
    border-color: rgba(151, 151, 151, 0.5);
}

/*
h4, .h4, h5, .h5, h6, .h6, .tile-list .article h6 a {
  color: #003f72 !important;
}
*/

.wIcon h3, .wIcon h4, .wIcon h5, .wIcon h6,
.silo .h5, .bgWhite h3 {
  color: #003f72 !important;
}

.silo .h5, .silo .h4, .tile-list .article h6 a {
  font-size: 20px;
  font-weight: bold;
  font-family: 'prelo_slab_bold';
  color: #003f72!important;
  text-transform: none;
}

.article-loc {
  font-size: 16px;
}

.cta-bar-container {
  background-color: #003f72;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-bar {
  background-color: #003f72;
/*  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;*/
}

.cta-bar a {
  font-size: 14px;
  padding: 0 10px;
}

/* referenz card - v1*/
.reference-slider {
  position: relative;
  padding: 0px 30px 45px 30px;
  width: 100%;
  margin: 0;
  clear: both;
  /* referenz card*/
}

.reference-slider .flex-control-nav li {
  margin: 0 !important;
  width: 2em;
  height: 8px;
  padding: 0px;
}

.reference-slider .referenz-card {
  background-color: #fff;
  height: 400px;
  font-size: 14px;
  color: #003f72;
  width: 30%;
  padding: 0 20px 0 20px;
}

.reference-slider .referenz-card:before, .reference-slider .referenz-card:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.reference-slider .referenz-card:hover:before,
.reference-slider .referenz-card .hover:before, .reference-slider .referenz-card:hover:after,
.reference-slider .referenz-card .hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.reference-slider .referenz-card h3 {
  color: #003f72;
  font-size: 20px;
  font-weight: bold;
  font-family: 'prelo_slab_bold';
}

@media (min-width: 992px) {
  
  h2, .h2 {
    font-size: 38px;
    font-weight: bold;
  }

  #hero, #carouselHero, .lvl3 #sec-banner {
    margin-top: 90px;
  }
  
  .intro {
    font-size: 18px;
  }
  
  .reference-slider .referenz-card:hover .referenz-card-overlay {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
  }
  .reference-slider .referenz-card:hover .referenz-card-overlay a, .reference-slider .referenz-card:active .referenz-card-overlay a {
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: visible;
    display: block;
  }
}

.reference-slider .referenz-card .overlay-info {
  position: absolute;
  bottom: 0px;
  height: 50%;
  width: 100%;
}

.reference-slider .referenz-card .overlay-info span {
  display: block;
  margin: 40px 0 40px 0;
  color: #fff;
  font-weight: bold;
  font-family: 'StoneSansIIITCPro-SmBd';
  text-transform: uppercase;
  opacity: 0;
}

.reference-slider .referenz-card .overlay-info span::after {
  content: '';
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 4px;
}

.reference-slider .referenz-card .overlay-info > div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 100%;
  padding: 0px;
}

.reference-slider .referenz-card .overlay-info .descr {
  font-size: 11px;
  font-weight: bold;
  font-family: 'prelo_slab_bold';
  line-height: 1.2;
  margin: 0px;
}

.reference-slider .referenz-card .overlay-info .infobox {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.reference-slider .referenz-card .overlay-info .infobox p:nth-child(1) {
  font-family: 'prelo_slab_bold';
  font-size: 22px;
  margin-bottom: 0px;
}

.reference-slider .referenz-card:hover .referenz-card-overlay .overlay-info span {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition: opacity 0.4s cubic-bezier(0.8, 0, 1, 1);
  transition: opacity 0.4s cubic-bezier(0.8, 0, 1, 1);
}

.reference-slider .referenz-card:hover .overlay-info .infobox {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0, 1, 1);
  transition: opacity 0.6s cubic-bezier(0.4, 0, 1, 1);
}

.reference-slider .referenz-card > .referenz-card-overlay > div > div > div:nth-child(1)::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 0%;
  background: white;
  right: 0;
  top: 0px;
  opacity: 0.7;
}

.reference-slider .referenz-card:hover > .referenz-card-overlay > div > div > div:nth-child(1)::before {
  width: 100%;
  -webkit-transition: width 0.4s cubic-bezier(0.4, 0, 1, 1);
  transition: width 0.4s cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.reference-slider .referenz-card > .referenz-card-overlay > div > div > div:nth-child(2)::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0%;
  background: white;
  left: 0;
  top: 0px;
  opacity: 0.7;
}

.reference-slider .referenz-card:hover > .referenz-card-overlay > div > div > div:nth-child(2)::after {
  width: 100%;
  -webkit-transition: width 0.4s cubic-bezier(0.4, 0, 1, 1);
  transition: width 0.4s cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.reference-slider .referenz-card .referenz-card-overlay {
  position: absolute;
  height: 100%;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  opacity: 0;
  background-color: #003f72;
}

.reference-slider .referenz-card .referenz-card-overlay > a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  visibility: visible;
  display: block;
}

.reference-slider .referenz-card .referenz-card-overlay > div > div > div:nth-child(2)::before {
  content: '';
  position: absolute;
  height: 0%;
  width: 1px;
  background: white;
  left: 0px;
  top: 0px;
  opacity: 0.7;
}

.reference-slider .referenz-card:hover .referenz-card-overlay > div > div > div:nth-child(2)::before {
  height: 100%;
  -webkit-transition: height 0.4s cubic-bezier(0.4, 0, 1, 1);
  transition: height 0.4s cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.reference-slider .flex-control-nav {
  bottom: 10px;
  left: 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border-radius: 20px;
  right: 0;
  background: #fff;
}

.reference-slider .flex-direction-nav {
  display: none;
}

.reference-slider .flex-control-paging li a.flex-active {
  background-color: #003f72 !important;
}

.reference-slider .flex-control-paging li a {
  border: 0;
  background: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  height: 8px;
}

.reference-slider .logo-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid #f2f4f6;
  margin: 40px auto 40px auto;
  width: 150px;
  height: 150px;
  z-index: 10;
}

.reference-slider .logo-circle img {
  height: 100%;
  width: 100%;
}

/*-----------Desktop Navigation Styles-------------------*/
@media (min-width: 992px) {

  .main-nav {
    height: 90px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-nav.sticky {
    height: 60px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-nav.sticky .main-header-logo {
    margin-top: 8px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-nav .menu img.logo {
    width: 100px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-nav.sticky .menu img.logo {
    width: 70px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .navbar-default {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 12;
    width: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  #navbar-top {
    padding: 0px 0px 11px 0px;
  }
  #navbar-top .left-menu-icons ul > li.search > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar-top .left-menu-icons ul > li.search > ul > li input.search-icon.btn.btn-default {
    display:none;
   /* top: 0;
    right: 15px;
    background: url(/aon.humancapital/media/images/ui/arrow-round.svg) no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    padding: 0;
    margin-right: 0;
    text-indent: -9999px;
    */
  }
  .menu > ul > li {
    background-color: #fff;
    padding-bottom: 28px;
    font-family: 'StoneSansIIITCPro-SmBd';
  }
  .main-nav.sticky .menu > ul > li {
    padding-bottom: 14px;
  }
  .menu > ul {
    width: auto;
    display: inline-block;
  }
  .menu > ul:first-of-type {
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-nav.sticky .menu > ul:first-of-type {
    margin-top: 18px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .left-menu-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    height: 60px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-nav.sticky .left-menu-icons {
    margin-top: 9px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    height:100%;
  }
  .left-menu-icons ul.normal-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .left-menu-icons > ul > li {
    float: left;
    margin-left: 17px;
  }
  .left-menu-icons > ul > li .searchBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-header-logo {
    margin: 15px 0 auto;
    width: 100px;
  }
  .globe {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 16px;
    margin: 0 3px 0 0;
    background: url(/aon.humancapital/media/images/ui/icon_language_blue.svg) no-repeat;
    background-size: 44px 44px;
    transition: background-image 0.25s ease-in-out;
  }
  .search-icon {
    width: 44px;
    height: 44px;
    background: url(/aon.humancapital/media/images/ui/icon_search_blue.svg) no-repeat;
    display: inline-block;
    line-height: 16px;
    margin: 0 3px 0 0;
    background-size: 44px 44px;
    transition: background-image 0.25s ease-in-out;
  }
  .location-icon {
    width: 44px;
    height: 44px;
    background: url(/aon.humancapital/media/images/ui/icon_location_blue.svg) no-repeat;
    display: inline-block;
    line-height: 16px;
    margin: 0 3px 0 0;
    background-size: 44px 44px;
    transition: background-image 0.25s ease-in-out;
  }
  .btn-menu {
    background-color: #003f72;
    color: #fff !important;
    padding: 17px 26px;
    line-height: 10px;
    letter-spacing: 0.5px;
    font-family: 'StoneSansIIITCPro-SmBd';
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
  }
  .btn-menu:hover {
    background-color: #002E53;
  }
  #navbar-top > div.menu-container > div > div.left-menu-icons.hidden-xs.hidden-sm > ul .menu > ul > li > ul.normal-sub {
    margin-top: 0px;
  }
  .menu > ul > li a {
    padding: 1px 0.8em;
    color: #003f72;
    font-size: 16px;
  }
  .started-menu {
    margin-top: 7px;
  }
  .more a {
    border-left: #003f72 1px solid;
  }
  .menu-dropdown-icon > a:after {
    content: '';
    background: url(/aon.humancapital/media/images/ui/icon_arrow_blue.svg) no-repeat;
    position: absolute;
    width: 12px;
    height: 8px;
    display: inline-block;
    top: 9px;
    margin-left: 8px;
  }
  .menu-dropdown-icon>a:hover::after, .menu-dropdown-icon.active>a::after {
    background: url(/aon.humancapital/media/images/ui/icon_arrow_red.svg) no-repeat;
  }
  .menu-dropdown-icon > a {
    padding-right: 31px !important;
  }

  .sub-menu {
    position: absolute;
    display: none;
    background-color: #f2f4f6;
    left: 0;
    right: 0;
    top: 58px;
  }
  .menu ul li:hover .sub-menu {
    display: block;
  }
  .sub-menu .container:before,
  .sub-menu .container:after {
    content: " ";
    display: table;
  }
  .menu > ul > li > ul {
    background: #f2f4f6;
    border-top: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 18px 1000em !important;
    margin: 0px -1000em;
    z-index: 101;
    width: auto;
  }
  .menu > ul > li > ul.normal-sub > li a {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #003f72;
  }
  .menu > ul > li > ul.normal-sub > li a:hover {
    color: #e11b22;
    text-decoration: none;
  }
  body {
    overflow-x: hidden;
  }
  .menu > ul > li > ul.normal-sub > li {
    min-width: 300px;
    padding: 10px 0px 10px 0px;
    font-family: 'StoneSansIIITCPro-Bk',Arial,sans-serif;
  }
  
  .menu > ul > li.more > ul.normal-sub > li {
    padding-left: 24px;
  }
  
  .menu-dropdown-icon:hover > ul:before {
    content: "";
    height: 0;
    width: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #f2f4f6;
    position: absolute;
    left: 1001em;
    margin: 0 0 0 -10px;
    z-index: 100;
    top: -13px;
  }
  .more.menu-dropdown-icon:hover > ul:before {
    left: 1002em;
  }
  .hcMenu > ul {
    background: #f2f4f6;
    border-top: none;
    position: absolute;
    left: 0;
    top: 93%;
    padding: 18px 993em;
    margin: 17px -1060em;
    z-index: 101;
    width: auto;
    text-transform: capitalize;
    color: #003f72;
  }

  .hcMenu > ul.flags {
    padding: 18px 995.5em;
  }

  .sticky .hcMenu > ul {
    margin-top: 1px !important;
  }
  .dropdown-menu > li > a:hover,
  .lang-country ul li a:hover {
    color: #e11b22;
  }
  .six-col {
    -webkit-column-count: 8;
            column-count: 8;
    -webkit-column-gap: 6px;
            column-gap: 6px;
  }
  .lang-country ul li a {
    padding: 3px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.8;
    color: #333;
    white-space: nowrap;
  }
  .hcMenu .act a {
    color: #e11b22 !important;
  }
  .dropdown-menu > li > a,
  .lang-country ul li a {
    color: #003f72;
  }
  .lang-country li:first-child,
  .lang-country li:nth-child(2) {
    border-left: rgba(0, 63, 114, 0.2) 1px solid;
    /* for Safari */
    background-clip: padding-box;
  }
  .dropdown:hover ul:before {
    content: "";
    height: 0;
    width: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #f2f4f6;
    position: absolute;
    left: 51.12%;
    margin: 0 0 0 -10px;
    z-index: 100;
    top: -13px;
  }

  .dropdown.flags-container:hover ul:before {
    left: 51.34%;
  }

  .sticky .dropdown:hover ul:before {
    top: -7px;
  }
  .left-menu-icons.dropdown:hover ul:before {
    margin: 8px 0 0 -3px;
    top: -15px;
  }
  .dropdown:hover .search-box:before {
    left: 51.97%;
  }
  .hcMenu.dropdown:hover .location-icon {
    background: url(/aon.humancapital/media/images/ui/icon_location_red.svg) no-repeat;
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
  }
  .hcMenu.dropdown:hover .globe {
    background: url(/aon.humancapital/media/images/ui/icon_language_blue_copy.svg) no-repeat;
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
  }
  .hcMenu.dropdown:hover .search-icon {
    background: url(/aon.humancapital/media/images/ui/icon_search_blue_copy.svg) no-repeat;
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
  }
  /* The progress container (grey background) */
  .sticky .progress-container {
    width: 100%;
    height: 3px;
    background: #f2f7f9;
  }
  /* The progress bar (scroll indicator) */
  .sticky .progress-bar {
    height: 3px;
    background: #e11b22;
    width: 0%;
    float: none;
    -webkit-transition: none;
    transition: none;
  }
  .search-box input[type=text] {
    display: inline-block;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent !important;
    border-left: solid 1px #b2c5d4;
    display: block;
    font-size: 20px;
    color: #b2c5d4;
    width: 39em;
  }
  .active > a:not(.btn-menu) {
    color: #e11b22 !important;
  }
  .more {
    margin-left: 24px;
  }
  
  .ITIT .menu-dropdown-icon>a {
    padding-right: 25px!important;
  }
  
  .ITIT .more {
    margin-left: 10px;
  }
  
  .ITIT .more > a {
    padding-left: 12px!important;
  }
  
  .more > a {
    padding-left: 34px !important;
  }
  
  .act a:after {
    position:absolute;
    content: "";
    background-image: url(/aon.humancapital/media/images/ui/check.svg);
    margin-left: 8px;
    width: 17px;
    height: 15px;
    display: inline-block;
  }
  .left-menu-icons .dropdown:hover .dropdown-menu {
    display: none;
    margin-top: 17px;
  }

  .normal-sub .nav-arrow {
    display: none
  }
 
  .reference-slider {
    position: relative;
    padding: 30px 30px 45px 30px;
    width: 85%;
    margin: 0 auto;
    clear: both;
  }
  .reference-slider .flex-direction-nav {
    display: block;
    width: 48px;
    height: 48px;
    border-color: #000;
    top: 50%;
    margin-top: -31px;
  }
  .reference-slider .flex-direction-nav a {
    display: block;
    opacity: 1;
    height: 53px;
    width: 22px;
    color: #003f72;
    top: calc(50% - 23px);
  }
  .reference-slider .flex-direction-nav a.flex-prev {
    background: url(/aon.assessment/media/images/ui/reference-slider-arrow-prev.svg) no-repeat;
    left: -50px;
  }
  .reference-slider .flex-direction-nav a.flex-prev:before {
    content: none;
  }
  .reference-slider .flex-direction-nav a.flex-next {
    background: url(/aon.assessment/media/images/ui/reference-slider-arrow-next.svg) no-repeat;
  }
  .reference-slider .flex-direction-nav a.flex-next:before {
    content: none;
  }
}

/*-----------Desktop Navigation Styles-------------------*/

